
.treatment-bg {
    fill: lightgray;
    fill-opacity: 50%;
    transition: all .1s;
}

.treatment:hover .treatment-bg {
    fill-opacity: 100%;
    filter: drop-shadow(0 0 5px lightgray);
}

.treatment-name {
    font: 20px sans-serif;
    fill: black;
}

.treatment-type {
    font: italic 12px sans-serif;
    fill: black;
}

.io {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

.io-name {
    font: 10px sans-serif;
}

.input, .output, .param, .connection {
    font: 10px sans-serif;
    transition: all .1s;
}

.input:hover, .output:hover, .param:hover {
    filter: drop-shadow(0 0 5px black);
}

.input-sym, .output-sym {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

.param-name {
    font-style: italic;
}

.param-value {
    font-family: monospace;
}

.connection {
    stroke: gray;
    stroke-width: 5px;
    fill: transparent;
}

.connection:hover {
    stroke-width: 10px;
}
